/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   display: flex;
   flex-wrap: wrap;
   gap: 1em;
   justify-content: center;
   align-content: center;

   
}

.ytv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    max-height: 680px;
}
.ytv__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1em;
}
.ytv__left {
   display: flex;
   align-items: center;
   gap: 1em;
}
.ytv__right {
   display: flex;
   gap: 1em;
   flex-grow: 1;
   justify-content: end;
    
}
.profile {
   display: flex;
   align-items: center;
   gap: 1em;
}
.profile__text {
   display: flex;
   flex-direction: column;
}
.icon {

}
.btn--flex {
    
}